body {
	width: 100%;
	background-color:#ffffff;
	font-family: Roboto;
	font-family: Verdana, sans-serif;
	color: #000;
	font-size: 16px;
}
/* nav-styles */
.navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .logo-img {
    width: 200px;
  }
  
  .nav-item {
    padding: 0 15px;
  }
  
  .nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000;
  }
  
  .nav-link:hover {
    color: #e36f1e;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
    background-color: #e36f1e;
    color: #fff;
  }
  
  .custom-toggler.navbar-toggler {
    border-color: #e36f1e;
  }
  
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(227, 111, 30, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  /* welcome page -styles  */
  #welcome-page {
    overflow-x: hidden;
    color: #004730;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    animation: change-bg 6s ease-in-out infinite;
  }
  
  @keyframes change-bg {
    from {
      background: linear-gradient(90deg, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 50%), url("images/patternpad.svg");
      background-position: center;
      background-size: cover;
    }
  
    to {
      background: linear-gradient(90deg, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 50%), url("images/pattern3.png");
      background-position: center;
      background-size: cover;
    }
  }
  
  .container-fluid {
    width: 100%;
    height: 100%;
    padding-top: 0%;
    padding-bottom: 5%;
    padding-left: 7%;
    padding-right: 7%;
  }
  
h1 {
	font-size: 64px;
}

h2 {
	font-size: 36px;
	font-weight: 400;
	color: #e36f1e;
}

img {
}

article {
	--article-height: 100%;
	--article-ratio: 1.5;
	width: calc(var(--article-height) / var(--article-ratio));
	height: var(--article-height);
	box-sizing: border-box;
	padding: 0px 0px 42px;
	margin: auto;
	position: relative;
}

.main-title {
	position: absolute;
	color: #e36f1e;
	margin-top: 80px;
	padding: 0 42px;
	z-index: 1;
}

.hero-image {
	max-width: 100%;
	filter: brightness(0.5);
	margin: 42px 0 30px;
	border-radius: 8px;
}

img[class^="editorial-image"] {
	max-width: 40%;
	max-width: 40%;
	border-radius: 8px;
	margin: 10px 24px;
}

.editorial-image-left {
	float: left;
	margin-left: 0 !important;
}

.editorial-image-right {
	float: right;
	margin-right: 0 !important;
}

p {
	font-size: 1em;
	margin: 42px 0;
}

blockquote {
	font-style: italic;
	font-weight: 700;
	color: #e36f1e;
}
/* contact-section-styles-section */
.row-get-in-touch {
    display: flex;
    flex-wrap: wrap;
  }
  
  ul {
    list-style: none;
  }
  
  .footer {
    background-color: #004730;
    padding: 70px 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #E36F1E;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    text-align: left;
  }
  
  .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }
  
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }
  
  .copyright {
    text-align: center;
    background: #000;
    color: #fff;
    padding: 1%;
  }
  
  /*responsive*/
  @media(max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  
  @media(max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }


  /* scrool-to-top-animation */
.go-top {
    right: 1em;
    bottom: 2em;
    color: #ffffff;
    text-decoration: none;
    background: #e36f1e;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    position: fixed;
  }